<template lang="pug">
nav.bg-blue-400.pt-3.h-16.shadow-lg
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex-shrink-0 flex items-center ml-8 mr-1">
                <img class="h-10 w-auto" src="~/assets/img/logo.svg" alt="Workflow">
                h1.text-3xl.font-bold.ml-2.text-gray-800 FOOD
            </div>
            <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-8 ml-4">
                    a.bg-indigo-700.text-white.px-3.py-2.rounded-md.text-sm.font-medium(href="/" aria-current="page") จองโต๊ะอาหาร
                    a.text-white.px-3.py-2.rounded-md.text-sm.font-medium(href="menu" class="hover:text-white") รายการอาหาร
                    a.text-white.px-3.py-2.rounded-md.text-sm.font-medium(href="description" class="hover:text-white") ข้อมูลร้าน
                </div>
            </div>
        </div>
</template>

<script lang="ts">
</script>
