<template>
  <div>
    <div class="text-center pt-5 p-5 text-3xl">รายงานการจองโต๊ะ</div>
    <div class=" flex justify-center">
      <table class="border-collapse border border-green-800">
        <thead>
          <tr>
            <th class="w-auto pl-3 pr-3 border border-green-600">
              รหัสการจอง
            </th>
            <th class="w-auto pl-3 pr-3 border border-green-600">ชื่อ</th>
            <th class="w-auto pl-3 pr-3 border border-green-600">นามสกุล</th>
            <th class="w-auto pl-3 pr-3 border border-green-600">
              เบอร์โทรศัพท์
            </th>
            <th class="w-auto pl-3 pr-3 border border-green-600">Email</th>
            <th class="w-auto pl-3 pr-3 border border-green-600">จำนวนคน</th>
            <th class="w-auto pl-3 pr-3 border border-green-600">วันที่จอง</th>
            <th class="w-auto pl-3 pr-3 border border-green-600">โซน</th>
            <th class="w-auto pl-3 pr-3 border border-green-600">เวลที่จอง</th>
            <th class="w-auto pl-3 pr-3 border border-green-600">ลบข้อมูล</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(Item, Index) in mountains" :key="Index">
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item._id }}
            </td>
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item.name }}
            </td>
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item.lastname }}
            </td>
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item.phonenumber }}
            </td>
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item.email }}
            </td>
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item.people }}
            </td>
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item.oderdate }}
            </td>
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item.zone }}
            </td>
            <td
              :key="index"
              class="w-auto pl-3 pr-3 border border-green-600 text-center"
            >
              {{ Item.time }}
            </td>
            <td
              :key="index"
              class="
                w-auto
                pl-3
                pr-3
                border border-green-600
                flex
                items-center
                justify-items-center
              "
            >
              <div
                class="text-red-600 text-center cursor-pointer"
                @click="deleteData(Item._id)"
              >
                <img
                  class="w-5"
                  src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png"
                  alt=""
                />
              </div>
              <img
                class="w-10 cursor-pointer"
                src="https://t4.ftcdn.net/jpg/03/38/46/23/240_F_338462346_wZZhUA9S6daekMfyuF8cBssJgj4nao8M.jpg"
                alt=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
// import Mockdata from './data/mockuser.json'
export default {
  // computed: {
  //   Mockdata() {
  //     return Mockdata
  //   },
  // },
  data() {
    return {
      mountains: [],
    }
  },
  async fetch() {
    this.mountains = await fetch('http://localhost:3000/rent').then((res) =>
      res.json()
    )
  },
  methods: {
    async deleteData(_id) {
      // await fetch(`http://localhost:3000/rent/${_id}`, { method: 'DELETE' })
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      const data = await this.$axios
        .$delete(`http://localhost:3000/rent/${_id}`)
        .then(() => this.$nuxt.refresh())
      window.alert('ลบสำเร็จ')
      location.reload()
    },
  },
}
</script>
