<template>
  <section>
    <div class="shadow-md ">
      <Navbar />
    </div>
    <div class="flex flex-col pb-20 ImgBg">
      <div class="ContentLeft mt-12 ml-80 mr-80">
        <h1 class="text-3xl font-bold">ตำแหน่งและที่ตั้งของร้าน</h1>
        <div class=" grid grid-cols-2">
          <div class="mt-8">
            <div class="flex space-x-2 mb-2">
              <h1 class="font-bold">JFOOD</h1>
              <img class="w-7 h-7" src="~/assets/img/star_.png" />
              <img class="w-7 h-7" src="~/assets/img/star_.png"/>
                <img class="w-7 h-7" src="~/assets/img/star_.png" />
            </div>
            <p1 >มหาวิทยาลัยพะเยา ตำบลแม่กา 
              <br />อำเภอเมือง จังหวัดพะเยา 56000
              <br />โทร. 054-466666 
              <br >Email 62022990@up.ac.th
            </p1>
          </div>
          <div class="map box-img">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30174.344493055374!2d99.9018347!3d19.0288383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d83369b9fd7285%3A0x48422f267bc2c6ec!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4Lie4Liw4LmA4Lii4Liy!5e0!3m2!1sth!2sth!4v1634650804538!5m2!1sth!2sth" width="420" height="250"  ></iframe>
          </div>
        </div>
      </div>
      <div class="ml-80 mr-80 bd mt-10">
        <h1 class=" mt-5 pl-5  font-bold text-black text-xl ">ความพึงพอใจเกี่ยวกับทางร้าน</h1>
        <textarea class=" form-textarea block h-48 w-96 mt-2 ml-6 txt" placeholder=" ความคิดเห็น..." ></textarea>
        <button class=" ml-60 mt-2 bg-indigo-700 text-white px-3 py-2 rounded-md text-sm font-medium"> ส่งความคิดเห็น </button>
      </div>
      
    </div>
  </section>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
export default {
  components: {
    Navbar,
  },
}
</script>

<style lang="css" scoped>
.ImgBg {
  background-image: url('https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300203/54088672-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg');
  background-size: cover !important;

}
.box-img {
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 16px;
}

.bd {
  background: #fff;
  border-radius: 16px;
}
.txt {
    background-color: aliceblue;

}

</style>
