/* eslint-disable @typescript-eslint/no-unused-vars */ /* eslint-disable
@typescript-eslint/no-unused-vars */ /* eslint-disable
@typescript-eslint/no-unused-vars */<template lang="pug">
<section class="fee">
  navbar
  div(:style="{'background-image':'url(https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300203/54088672-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg); background-size: cover !important; display:block;'}")
    <div class="text-3xl pl-6 pt-6">  J Food</div>
    <div class="text-lg pl-10 pt-6">  กรุณากรอกข้อมูลการจองโต๊ะอาหาร
    <form @submit.prevent="postData">
      <div class="Main place-items-center pt-10">
        <div>
          <div class="mb-4">เลือกวันที่จอง</div>
          <div class="mb-4">เวลาที่จอง</div>
          <div>จำนวนท่าน</div>
        </div>
        <div class="flex flex-col pl-5">
          input.w-48.border-2.border-solid.border-red-100.mb-2(required="" v-model="JSONInput.oderdate" type="date")
          .flex
            div
              input.w-48.border-2.border-solid.border-red-100.mb-2(type="time" required="" v-model="JSONInput.time")
          .flex
            select.border-2.border-solid.border-red-100.mb-2(required="" v-model="JSONInput.people")
              option(value="" disabled="" selected="") จำนวนท่าน
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
            .pl-2.pr-2 : เลือกโซน
            select.border-2.border-solid.border-red-100.mb-2(required="" v-model="JSONInput.zone")
              option(value="" disabled="" selected="") เลือกโซน
              option(value="ด้านหน้า") ด้านหน้า
              option(value="ตรงกลาง") ตรงกลาง
              option(value="ด้านหลัง") ด้านหลัง
          
        </div>
        <div> 
          <div class="mb-4">ชื่อ-นามสกุล</div>
          <div class="mb-4">เบอร์โทรติดต่อ</div>
          <div>อีเมลล์ติดต่อ</div>
        </div>
        <div class="mr-5">
          <div>
            <input class="w-48 border-2 border-solid border-red-100 mb-2 mr-5" type="text" required v-model="JSONInput.name" placeholder="ชื่อ"/>
            <input class="w-48 border-2 border-solid border-red-100 mb-2 mr-5" type="text" required v-model="JSONInput.lastname" placeholder="นามสกุล"/>
          </div>
          <div>
            <input class="w-48 border-2 border-solid border-red-100 mb-2" type="text" required v-model="JSONInput.phonenumber" maxlength="10" placeholder="080-550-556"/>
          </div>
          <div>
            <input class="w-60 border-2 border-solid border-red-100 mb-2" type="email" required v-model="JSONInput.email" placeholder="example@example.com"/>
          </div>
        </div>
      </div>
      <div class="btnAll">
        <button class="bte rounded button" type="submit">ยืนยันบันทึกข้อมูลการจอง</button>
      </div>
    </form>
    div.h-96
  </div>
</section>
</template>
<script>
import Navbar from '@/components/Navbar'

export default {
  components: {
    Navbar,
  },

  data() {
    return {
      mountains: [],
      JSONInput: {},
      
    }
  },
  async fetch() {
    this.mountains = await fetch('http://localhost:3000/rent').then((res) =>
      res.json()
    )
  },
  methods: {
    // eslint-disable-next-line require-await
    async postData(e) {
      e.preventDefault()
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      const data = await this.$axios.$post(
        `http://localhost:3000/rent`,
        this.JSONInput
      )
      window.alert('สำเร็จการจอง')
      location.reload()
      // eslint-disable-next-line no-console
      console.log(this.JSONInput);
    },
  },
}
</script>

<style lang="scss" scoped>
// .btn {
//   display: inline-block;
//   color: #fff;
//   background: #f16060;
//   height: 50px;
//   width: 150px;
// }
.bte {
  display: inline-block;
  color: #fff;
  margin-right: 50px;
  background: #71b87d;
  height: 50px;
  width: 210px;
}
.Main {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.btnAll {
  display: flex;
  justify-content: end;
  margin-right: 90px;
  margin-top: 20px;
}
</style>
