<template>
<div class="background min-h-screen ImgBg"> 
  <Navbar></Navbar>
  <div class="flex justify-center space-x-80 py-20">
    <div class="space-y-5">
      <h1 class="text-black text-4xl font-bold">หมวดหมู่อาหาร</h1>
      <div>
        <h2 class="text-black font-bold">รายการอาหาร </h2>
        <h2 class="text-black font-bold">คุณสามารถเลือกชมอาหารตามหมวดหมู่</h2>
      </div>
      <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
        <h3>หมวดหมู่อาหารที่ 1  ประเภทอาหารจานเดียว</h3>
        <button class="bg-indigo-400 text-black px-3 py-2 rounded-md text-sm font-medium" onClick="parent.location='menu_one_dish_type'">เลือกชม</button>
      </div>
      <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
        <h3>หมวดหมู่อาหารที่ 2  ประเภทตำ</h3>
        <button class="bg-indigo-400 text-black px-3 py-2 rounded-md text-sm font-medium" onClick="parent.location='menu_papaya_salad'">เลือกชม</button>
      </div>
      <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
        <h3>หมวดหมู่อาหารที่ 1  ประเภท ต้ม แกง</h3>
        <button class="bg-indigo-400 text-black px-3 py-2 rounded-md text-sm font-medium" onClick="parent.location='menu_boil_curry'">เลือกชม</button>
      </div>
    </div>
    <div class="space-y-5">
      <h1 class="text-black text-4xl font-bold">อาหารประเภทต้มและแกง</h1>
      <div class="grid grid-cols-2 gap-5">
        <div class="text-center">
          <img
            class="w-72 h-48 rounded-xl"
            src="https://img.wongnai.com/p/1920x0/2019/01/07/00ecdecfba7c4e708a15056002b71f1a.jpg"
            alt="alt"
          />
          <span>ต้มแซ่บ</span>
        </div>
        <div class="text-center">
          <img
            class="w-72 h-48 rounded-xl"
            src="https://savethaifood.net/uploads/editor/images/%E0%B9%81%E0%B8%81%E0%B8%87%E0%B8%AA%E0%B9%89%E0%B8%A1%E0%B8%81%E0%B8%B8%E0%B9%89%E0%B8%87%E0%B8%9E%E0%B8%A3%E0%B8%B4%E0%B8%81%E0%B8%A3%E0%B8%A7%E0%B8%A1.jpg"
            alt="alt"
          />
          <span>แกงส้มกุ้ง</span>
        </div>
        <div class="text-center">
          <img
            class="w-72 h-48 rounded-xl"
            src="https://img.wongnai.com/p/1920x0/2018/03/01/fa533a3d5918427bbb8e406ca4cae9a5.jpg"
            alt="alt"
          />
          <span>ต้มจืดหมู</span>
        </div>
        <div class="text-center">
          <img
            class="w-72 h-48 rounded-xl"
            src="https://img.wongnai.com/p/1920x0/2019/03/26/de66b8d0a19248088a3465272c5a18e0.jpg"
            alt="alt"
          />
          <span>แกงเขียวหวานไก่</span>
        </div>
        <div class="text-center">
          <img
            class="w-72 h-48 rounded-xl"
            src="https://img.wongnai.com/p/1920x0/2019/03/28/e090009a8ec3456a893dc83ee92b7163.jpg"
            alt="alt"
          />
          <span>ต้มยำน้ำข้น</span>
        </div>
        <div class="text-center">
          <img
            class="w-72 h-48 rounded-xl"
            src="https://img.wongnai.com/p/1920x0/2019/04/04/6d474ada367b4203992f3de9789cf6f4.jpg"
            alt="alt"
          />
          <span>ต้มจืดหมู</span>
        </div>
      </div>
    </div>
  </div>
</div></template>
<script>
import Navbar from '@/components/Navbar.vue'
export default { components: Navbar }
</script>

<style scoped>
.ImgBg {
  background-image: url('https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300203/54088672-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg');
  background-size: cover !important;

}
</style>