<template>
  <div class="background min-h-screen">
    <Navbar></Navbar>
    <div class="flex justify-center space-x-80 py-20 ImgBg">
      <div class="space-y-5">
        <h1 class="text-4xl font-bold text-black">หมวดหมู่อาหาร</h1>
        <div>
          <h2 class="text-black font-bold">รายการอาหาร</h2>
          <h2 class="text-black font-bold">คุณสามารถเลือกชมอาหารตามหมวดหมู่</h2>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
          <h3>หมวดหมู่อาหารที่ 1 ประเภทอาหารจานเดียว</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_one_dish_type'"
          >
            เลือกชม
          </button>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
          <h3>หมวดหมู่อาหารที่ 2 ประเภทตำ</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_papaya_salad'"
          >
            เลือกชม
          </button>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
          <h3>หมวดหมู่อาหารที่ 1 ประเภท ต้ม แกง</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_boil_curry'"
          >
            เลือกชม
          </button>
        </div>
      </div>
      <div class="space-y-5">
        <h1 class="text-black text-4xl font-bold">อาหารประเภทตำและยำ</h1>
        <div class="grid grid-cols-2 gap-5">
          <div class="text-center">
            <img
              class="w-72 h-48 rounded-xl"
              src="https://www.77kaoded.com/wp-content/uploads/14-217.jpg"
              alt="alt"
            />
            <span>ตำกุ้งสด</span>
          </div>
          <div class="text-center">
            <img
              class="w-72 h-48 rounded-xl"
              src="https://www.ryoiireview.com/upload/article/202010/1603797518_c40c6dac99aa02d9e9e38f83d2b810e1.jpg"
              alt="alt"
            />
            <span>ตำหอยแครง</span>
          </div>
          <div class="text-center">
            <img
              class="w-72 h-48 rounded-xl"
              src="https://static.posttoday.com/media/content/2015/05/02/DB064225CE4A4D618AC65BF142F49C50.jpg"
              alt="alt"
            />
            <span>ตำไทย</span>
          </div>
          <div class="text-center">
            <img
              class="w-72 h-48 rounded-xl"
              src="https://40plus.posttoday.com/media/content/2017/09/22/F88B70D8B487423189DEABDEBBCD38D6.gif"
              alt="alt"
            />
            <span>ตำถาด</span>
          </div>
          <div class="text-center">
            <img
              class="w-72 h-48 rounded-xl"
              src="https://cms.dmpcdn.com/travel/2020/04/08/74e0a420-795d-11ea-b4e9-0984d8e8648f_original.jpg"
              alt="alt"
            />
            <span>ตำรวม</span>
          </div>
          <div class="text-center">
            <img
              class="w-72 h-48 rounded-xl"
              src="https://www.hatyaifocus.com/ckeditor/upload/forums/3/%E0%B8%AD%E0%B8%AD%E0%B8%A2/1-9-64%20%E0%B8%AA%E0%B9%89%E0%B8%A1%E0%B8%95%E0%B8%B3%E0%B9%81%E0%B8%8B%E0%B9%88%E0%B8%9A%20%E0%B8%82%E0%B8%99%E0%B8%AA%E0%B9%88%E0%B8%87/W%20%E0%B8%AA%E0%B9%89%E0%B8%A1%E0%B8%95%E0%B8%B3%E0%B9%81%E0%B8%8B%E0%B9%88%E0%B8%9A%20%E0%B8%82%E0%B8%99%E0%B8%AA%E0%B9%88%E0%B8%87-11.JPG"
              alt="alt"
            />
            <span>ตำหอยแครง</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
export default { components: Navbar }
</script>

<style scoped>
.ImgBg {
  background-image: url('https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300203/54088672-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg');
  background-size: cover !important;
}
</style>
