<template>
  <div class="background min-h-screen">
    <Navbar></Navbar>

    <div class="flex justify-center space-x-80 py-20 ImgBg">
      <div class="space-y-5">
        <h1 class="text-black text-4xl font-bold">หมวดหมู่อาหาร</h1>
        <div>
          <h2 class="text-black font-bold">รายการอาหาร</h2>
          <h2 class="text-black font-bold">คุณสามารถเลือกชมอาหารตามหมวดหมู่</h2>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3 text-black">
          <h3>หมวดหมู่อาหารที่ 1 ประเภทอาหารจานเดียว</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_one_dish_type'"
          >
            เลือกชม
          </button>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3 text-black">
          <h3>หมวดหมู่อาหารที่ 2 ประเภทตำ</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_papaya_salad'"
          >
            เลือกชม
          </button>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3 text-black">
          <h3>หมวดหมู่อาหารที่ 1 ประเภท ต้ม แกง</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_boil_curry'"
          >
            เลือกชม
          </button>
        </div>
      </div>
      <div class="space-y-5">
        <h1 class="text-black text-4xl font-bold">อาหารแนะนำจากทางร้าน</h1>
        <div class="grid grid-cols-2 gap-5">
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://i.pinimg.com/originals/9a/d8/0e/9ad80ef497a88db14e14f92b4eaa5bce.jpg"
            alt="alt"
          />
            <span> ข้าวกระเพราไก่ไข่ดาว </span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.prachachat.net/wp-content/uploads/2018/05/3-1024x704.jpg"
            alt="alt"
          />
            <span>ต้มยำกุ้งน้ำข้น</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 rounded-xl"
            src="https://www.ryoiireview.com/upload/article/202103/1617181489_78812eefe3481706b6af8df1c9b1a359.jpg"
            alt="alt"
          />
            <span>ผัดผักบุ้งหมูกรอบ</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://food.mthai.com/app/uploads/2018/03/Crispy-Chashu.jpg"
            alt="alt"
          />
            <span>หมูกรอบ</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 rounded-xl"
            src="https://dtc.ac.th/wp-content/uploads/2019/03/3.jpg"
            alt="alt"
          />
            <span>ปีกไก่ทอดน้ำปลา</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.fit-d.com/uploads/food/596bdcf545fee3c44bfdc393b9b01fc6.jpg"
            alt="alt"
            />
            <span>ข้าวผัดกุ้ง</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
export default { components: Navbar }
</script>

<style scoped>
.ImgBg {
  background-image: url('https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300203/54088672-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg');
  background-size: cover !important;
}
</style>
