<template>
  <div class="background min-h-screen ImgBg">
    <Navbar></Navbar>
    <div class="flex justify-center space-x-80 py-20">
      <div class="space-y-5">
        <h1 class="text-black text-4xl font-bold">หมวดหมู่อาหาร</h1>
        <div>
          <h2 class="text-black font-bold">รายการอาหาร</h2>
          <h2 class="text-black font-bold">คุณสามารถเลือกชมอาหารตามหมวดหมู่</h2>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
          <h3>หมวดหมู่อาหารที่ 1 ประเภทอาหารจานเดียว</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_one_dish_type'"
          >
            เลือกชม
          </button>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
          <h3>หมวดหมู่อาหารที่ 2 ประเภทตำ</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_papaya_salad'"
          >
            เลือกชม
          </button>
        </div>
        <div class="px-7 py-5 bg-gray-300 rounded-xl space-y-3">
          <h3>หมวดหมู่อาหารที่ 1 ประเภท ต้ม แกง</h3>
          <button
            class="
              bg-indigo-400
              text-black
              px-3
              py-2
              rounded-md
              text-sm
              font-medium
            "
            onClick="parent.location='menu_boil_curry'"
          >
            เลือกชม
          </button>
        </div>
      </div>
      <div class="space-y-5">
        <h1 class="text-black text-4xl font-bold">อาหารจานเดียว</h1>
        <div class="grid grid-cols-2 gap-5">
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://i.pinimg.com/originals/9a/d8/0e/9ad80ef497a88db14e14f92b4eaa5bce.jpg"
            alt="alt"
            />
            <span>กระเพราหมูสับไข่ดาว</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.ryoiireview.com/upload/article/202103/1617181489_78812eefe3481706b6af8df1c9b1a359.jpg"
            alt="alt"
            />
            <span>ผัดผักบุ้งหมูกรอบ</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.ryoiireview.com/upload/article/202103/1617181489_05d114ed7eea939636815da8c8d47e34.jpg"
            alt="alt"
            />
            <span>ผัดฉ่าไก่</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.ryoiireview.com/upload/article/202103/1617181535_97fc2976f41fd53b0bb7ac0061052857.jpg"
            alt="alt"
            />
            <span>ผัดพริกแกงปลาหมึก</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.ryoiireview.com/upload/article/202103/1617181535_1d96d568062355c93c98b87025f457ce.jpg"
            alt="alt"
            />
            <span>ตับหวาน</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.ryoiireview.com/upload/article/202103/1617181535_943f21dc26ca27aba4df55f43063014d.jpg"
            alt="alt"
            />
            <span>หมูทอดกระเทียม</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.ryoiireview.com/upload/article/202103/1617181489_393c21a6e98464c44f8501fa0d1c7917.jpg"
            alt="alt"
            />
            <span>กระเพราหมูสับลูกชิ้น</span>
          </div>
          <div class="text-center">
            <img
            class="w-72 h-48 rounded-xl"
            src="https://www.ryoiireview.com/upload/article/202103/1617181489_05d114ed7eea939636815da8c8d47e34.jpg"
            alt="alt"
            />
            <span>ผัดฉ่าไก่</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
export default { components: Navbar }
</script>

<style scoped>
.ImgBg {
  background-image: url('https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300203/54088672-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg');
  background-size: cover !important;
}
</style>
